<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% include 'admin/includes/header.html' %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'admin/includes/navbar.html' %}
        {% include 'admin/includes/menubar.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Login
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Login</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% if session['error-message'] %}
            <div class='alert alert-danger alert-dismissible'>
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
              <h4><i class='icon fa fa-warning'></i> Error!</h4>
                {{session.pop('error-message')}}
            </div>
            {% endif %}
            {% if session['success-message'] %}
                <div class='alert alert-success alert-dismissible'>
                  <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                  <h4><i class='icon fa fa-check'></i> Success!</h4>
                    {{session.pop('success-message')}}
                </div>
            {% endif %}

           <div class="row">
              <form class="form-horizontal" method="POST" style="margin:32px">
                  <div class="form-group">
                      <input type="text" class="form-control" name="email" required placeholder="Enter Your Email" style="height:50px;width:300px"><br>
                      <input type="password" class="form-control" name="password" required placeholder="Enter Your Password" style="height:50px;width:300px"><br>
                </div>
                  <button type="submit" name="submit" class="btn btn-primary btn-flat"> Login</button>
                  <br>
                  <br>
                <a href="/forgot-password">Forgot password?</a>

              </form>
            </div>
        </section>

  </div>

        {% include 'admin/includes/footer.html' %}
    {% include 'admin/includes/scripts.html' %}

    </div>
</body>
</html>