
{% include 'admin/includes/header.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include 'admin/includes/navbar.html' %}
  {% include 'admin/includes/menubar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users List
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">users</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      {% if session['error-message'] %}
            <div class='alert alert-danger alert-dismissible'>
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
              <h4><i class='icon fa fa-warning'></i> Error!</h4>
                {{session.pop('error-message')}}
            </div>
        {% endif %}
        {% if session['success-message'] %}
            <div class='alert alert-success alert-dismissible'>
              <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
              <h4><i class='icon fa fa-check'></i> Success!</h4>
                {{session.pop('success-message')}}
            </div>
        {% endif %}

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-plus"></i>Add New User</a>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered">
                <thead>
                  <th>ID</th>
                  <th>Photo</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Email</th>
                  <th>Tools</th>
                </thead>
                <tbody>
                   {%for user in users%}
                       <tr>
                          <td>{{user.get('id')}}</td>
                          <td> <img src="/static/images/{{user.get('profile_pic')}}" width='30px' height='30px'> </td>
                          <td>{{user.get('second_name')}}</td>
                          <td>{{user.get('first_name')}}</td>
                          <td>{{user.get('email')}}</td>
                          <td>
<!--                            <button class='btn btn-success btn-sm edit btn-flat' data-id='{{user.get("id")}}'><i class='fa fa-edit'></i> Edit</button>-->
                            <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{user.get("id")}}'><i class='fa fa-trash'></i> Delete</button>
                          </td>
                        </tr>
                   {%endfor%}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    {% include 'admin/includes/footer.html' %}
    {% include 'admin/includes/user_model.html' %}
</div>
    {% include 'admin/includes/scripts.html' %}
<script>
$(function(){
  $(document).on('click', '.edit', function(e){
    e.preventDefault();
    $('#edit').modal('show');
    var id = $(this).data('id');
    getRow(id);
  });

  $(document).on('click', '.delete', function(e){
    e.preventDefault();
    $('#delete').modal('show');
    var id = $(this).data('id');
    getRow(id);
  });

  $(document).on('click', '.photo', function(e){
    e.preventDefault();
    var id = $(this).data('id');
    getRow(id);
  });

});

function getRow(id){
  $.ajax({
    type: 'POST',
    url: '',
    data: {id:id, 'get-row': ''},
    dataType: 'json',
    success: function(response){
      $('.id').val(response.id);
      $('#edit_firstname').val(response.first_name);
      $('#edit_lastname').val(response.second_name);
      $('#edit_password').val(response.password);
      $('.fullname').html(response.first_name+' '+response.second_name);
    }
  });
}
</script>
</body>
</html>
