<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% include 'includes/header.html' %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'includes/navbar.html' %}
        {% include 'includes/menubar.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Register
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Register</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
           <div class="row">
              <form class="form-horizontal" method="POST" style="margin:32px">
                  <div class="form-group">

                      <input type="text" class="form-control" name="first_name" required placeholder="Enter Your First Name" style="height:50px;width:300px"><br>
                      <input type="text" class="form-control" name="last_name"  required placeholder="Enter Your Last Name" style="height:50px;width:300px"><br>
                      <input type="text" class="form-control" name="mobile" required placeholder="Enter Your Mobile Number" style="height:50px;width:300px"><br>
                      <input type="text" class="form-control" name="location" required placeholder="Enter Your Location" style="height:50px;width:300px"><br>
                      <input type="password" class="form-control" name="password"  required placeholder="Enter Your Password" style="height:50px;width:300px"><br>
                      <input type="password" class="form-control" name="password_confirm" required placeholder="Enter Your Password again" style="height:50px;width:300px"><br>
                </div>
                  <button type="submit" name="submit" class="btn btn-primary btn-flat"> Register</button>

              </form>
            </div>
        </section>

  </div>

        {% include 'includes/footer.html' %}

    </div>
</body>
</html>