<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            {% include 'includes/header.html' %}
    <style>
        .card {
            padding: 10px;
            border-top: 1px solid black;
            border-right: 1px solid black;
        }
        .card:hover {
            padding: 10px;
            border-top: 1px solid blue;
            border-right: 1px solid blue;
        }
        .productName {
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 2; /* number of lines to show */
           -webkit-box-orient: vertical;

           line-height: 1.125;
           min-height: 2.25em; // 2 * 1em * 1.125
                      // (number of lines) * (font-size) * (line-height multiplier)
        }

    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/dist/js/jquery.star-rating-svg.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/star-rating-svg.css">
<!--    <link rel="stylesheet" type="text/css" href="/static/dist/css/popup.css">-->
    <script>
function rateProduct(element,url) {
  var card = element.parentNode.parentNode;
  card.getElementsByClassName('popup')[0].style.display = 'block';
}

function sendRating(element) {
  var popupDiv = element.parentNode;
  console.log(popupDiv);
  var comment = popupDiv.getElementsByClassName('comment')[0].value;
  console.log(comment);
  if (comment=='') {
    alert('Write a comment first');
  }else {
    alert('Rating given successfully');
    popupDiv.style.display = 'none';
  }

}
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'includes/navbar.html' %}
        {% include 'includes/menubar.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Searching Item
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">search-item</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content" style="margin: 5px;">

            <div class="row">
                <form class="form-horizontal" method="GET" action="/search-item" style="margin:32px">
                  <div class="form-group">

                      <input type="text" class="form-control" id="search-item" name="item" required placeholder="Enter item to search here" style="height:50px;">
                </div>
                  <button type="submit" class="btn btn-primary btn-flat"> Search</button>

              </form>



                {%for item in items%}
                   <div class="card col-md-4 col-sm-6 single">
                       <p class="websiteName">
                           Website: {{item.get('website')}}
                       </p>
                       <div class="productImg">
                           <a href="{{item.get('link')}}" target="_blank" rel="noopener noreferrer" onclick="rateProduct(this,'{{item.get('link')}}')">
                               <img src="{{item.get('image')}}" width="240" height="240" alt="Product Image">
                           </a>
                       </div>
                       <p class="productName" style="color: black">
                           {{item.get('name')}}
                       </p>
                       <p class="productPrice">
                           Price: {{item.get('price')}}
                       </p>
                       <div class="my-rating">Rating: </div>

                          <script type="text/javascript">
                          $(".my-rating").starRating({
                             initialRating: {{item.get('data-stars')}},
                             readOnly: true,
                             useFullStars: true,
                             strokeWidth: 10,
                             starSize: 25
                             });
                          </script>
                        <div class="popup" style="display: none;">
                            <hr>
                            <b>View Product Then Rate And Comment</b>
                            <div class="my-rating" id="stars">Choose Rating: </div>

                            <script type="text/javascript">
                            $(".my-rating").starRating({
                             useFullStars: true,
                             strokeWidth: 10,
                             starSize: 25
                             });
                            </script>

                            <textarea rows="5" placeholder="Write your comment here" class="comment"></textarea>
                            <br>
                            <button onclick="sendRating(this)">Rate Product</button>
                        </div>
                   </div>
                {%endfor%}
            </div>
        </section>

  </div>

        {% include 'includes/footer.html' %}

    </div>
</body>

</html>