<!-- Add -->
<div class="modal fade" id="addnew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><b>Add New Item</b></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="POST" action="#" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Item Name</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Shelf Number</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="shelf" name="shelf" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Drawer Number</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="drawer" name="drawer" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">initial Quantity</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-9">
                      <textarea cols="5" class="form-control" id="description" name="description" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="link" class="col-sm-3 control-label">External Link</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="link" name="link" placeholder="Enter an external link for more reference...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="photo" class="col-sm-3 control-label">Image</label>

                    <div class="col-sm-9">
                      <input type="file" id="photo" name="photo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              <button type="submit" class="btn btn-primary btn-flat" name="add-item"><i class="fa fa-save"></i> Save</button>
              </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit -->
<div class="modal fade" id="edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><b>Edit Item</b></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="POST" action="#" enctype="multipart/form-data">
                <input type="hidden" class="id" name="id">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Item Name</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="edit_name" name="name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Shelf Number</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="edit_shelf" name="shelf" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Drawer Number</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="edit_drawer" name="drawer" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">initial Quantity</label>

                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="edit_quantity" name="quantity" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="shelf" class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-9">
                      <textarea cols="5" class="form-control" id="edit_description" name="description" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="link" class="col-sm-3 control-label">External Link</label>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="edit_link" name="link" placeholder="Enter an external link for more reference...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="photo" class="col-sm-3 control-label">Image</label>

                    <div class="col-sm-9">
                      <input type="file" id="edit_photo" name="photo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              <button type="submit" class="btn btn-success btn-flat" name="edit-item"><i class="fa fa-check-square-o"></i> Update</button>
              </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><b>Deleting...</b></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="POST" action="#">
                <input type="hidden" class="id" name="id">
                <div class="text-center">
                    <p>Do you want to delete this item permanently?</p>
                    <h2 class="bold fullname"></h2>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              <button type="submit" class="btn btn-danger btn-flat" name="delete-item"><i class="fa fa-trash"></i> Delete</button>
              </form>
            </div>
        </div>
    </div>
</div>


